.recipe-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
    /* width: 100%; */
    /* padding: 20px; */
    /* box-sizing: border-box; */
    gap: 10px;
}