.recipe-modal .modal-header {
    background-color: #142a58;
    color: white;
}

.recipe-modal .modal-footer {
    justify-content: center;
}

.card-description {
    word-break: break-word;
}

@media (max-width: 768px) {
    .recipe-modal .modal-dialog {
        width: 96%;
        max-width: 100%;
    }
}
